@model urbanx.Models.Producto

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>

    <link rel="stylesheet" href="~/css/detalle_catalogo.css" asp-append-version="true" />
    <script src="~/js/catalogo_detalle.js"></script>
</head>

<body>

    <div class="container mb-4">
        <h1 class="mb-3">Urban X <small class="text-muted">Producto</small></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Catalogo" asp-action="Index">Catalogo</a></li>
            <li class="breadcrumb-item active">Productos</li>
        </ol>

        <div class="contenedor">
            <div class="row justify-content-center m-0 pb-0">
                <div class="col-sm-12 col-md-6 col-lg-5 p-0 pe-0 pe-sm-0 pe-md-3">
                    <img class="img-fluid detalles_imagen" src="@Model.ImageURL" alt="Imagen del Producto">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7 m-0 mt-3 mt-sm-3 mt-md-0 p-0">
                    <h5 class="card-title">@Model.Nombre</h5>
                    <p class="card-text">Descripción: @Model.Descripcion</p>
                    <p class="card-text">Precio: <span style="color: #FF8906;">S/.@Html.DisplayFor(model =>
                            model.Precio)</span></p>

                    <!-- Formulario para seleccionar talla y cantidad -->
                    <form asp-action="Add" asp-controller="Carrito" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />

                        <div class="mb-3">
                            <label for="Talla" class="form-label texto_detalle_producto">Talla:</label>
                            <div class="d-flex mb-2">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Talla" id="tallaS" value="S"
                                        required>
                                    <label class="form-check-label" for="tallaS">S</label>
                                </div>
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Talla" id="tallaM" value="M"
                                        required>
                                    <label class="form-check-label" for="tallaM">M</label>
                                </div>
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Talla" id="tallaL" value="L"
                                        required>
                                    <label class="form-check-label" for="tallaL">L</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Talla" id="tallaXL" value="XL"
                                        required>
                                    <label class="form-check-label" for="tallaXL">XL</label>
                                </div>
                            </div>
                            <span validation-for="Talla" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label for="cantidad" class="form-label texto_detalle_producto">Cantidad:</label>
                            <div class="quantity-wrapper">
                                <span class="minus">-</span>
                                <input type="number" id="cantidad" name="cantidad" class="form-control" value="1"
                                    min="1" required>
                                <span class="plus">+</span>
                            </div>
                        </div>




                        <div class="d-flex mt-3">
                            <button type="submit" class="btn btn-añadir mr-2">Añadir al Carrito</button>
                            <button type="submit" class="btn btn-comprar"
                                formaction="@Url.Action("Comprar", "Carrito")">Comprar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>